[submodule "src/infrastructure/services-proto"]
	path = src/infrastructure/services-proto
	url = https://github.com/Azamjon99/services-proto.git
[submodule "src/infrastructure/protos"]
	path = src/infrastructure/protos
	url = https://github.com/Azamjon99/services-proto.git
